/* main layout */

body {
  background-color: #edeff0;

  margin: 0 auto;
  width: 60em;

  display: grid;
  grid-template-columns: [start] 4fr [middle] 1fr [end];
  grid-template-rows: [start] auto [nav] auto [news] 1fr [footer] auto [end];
}

body > header {
  grid-column: start / end;
}

#menu {
  grid-column: start;
}

aside {
  grid-column: middle;
  grid-row: nav / end;
}

#news {
  grid-column: start;
}

body > footer {
  align-self: end;
}

/* header layout */

body > header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
}

body > header h1 {
  grid-column: 1;
  grid-row: 1;
}

body > header h2 {
  grid-column: 1;
  grid-row: 2;
}

body > header #signup {
  grid-column: 2;
  grid-row: 2;
}

/* navigation layout */

#menu ul {
  display: flex;
  flex-direction: row;
}

#menu li {
  display: block;
  flex: 1;
}

/* article footer layout */

#news footer {
  display: flex;
}

#news footer .author {
  flex-grow: 1;
}


