.img-review{
    max-height: 50px;
    max-width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.fa-circle{
    color: green;
}



#button-bid-color {
    background-color: #00509d;
    color: white;
}

.text-align-center{
    text-align: center;
}

@media (min-width: 768px){
    .card{
        height: 418px;
    }

    .card-img-top {
        height: 218px;
        width: auto;
    }
}

@media (max-width: 767px) {

    .mobile-text-center{
        text-align: left;
    }
    .card-img-top, .report, .nav-tabs, #reviews{
        display: none;
    }
    #product-section, .bid{
        display: flex;
        flex-direction: column;
    }
    .tab-pane {
        display: block !important;
        opacity: 1;
    }
    .text-center{
        text-align: left;
    }
    .card{
        border:none;
    }

    #footer{
        margin-top: 2em;
    }

    #button-bid{order: 2}
    #input-bid{order: 1}

    .title{
        font-size: 2rem;
    }

    .card-title{
        font-size: 140%;
    }
}