.monospaced {
    font-family: 'Ubuntu Mono', monospaced, serif ; }

.bid .btn-qty {
    width: 46px;
    height: 40px;
}

.bid .btn { border-radius: 0; }

#product-section{
    margin-top: 20px;
}

#product-section > div > div:nth-child(2){
    margin-bottom: 50px;
}

#product-section > div > div:nth-child(2) > img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#product-section > div > div:nth-child(2) > img:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#product-section > div > div > div > a{
    margin-top: 10px;
    margin-bottom: 5px;
}

#product-section > div > div.row > h3{
    margin: 50px;
    margin-right: 500px;
}

#product-section > div > ul{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

div > div > ul > li{
    padding-left: 20px;
}

#feedback > div {
    margin-bottom: 40px;
}

#feedback > div > div > div.col-sm-3 > div{
    margin-left: 30px;
}

#watchList > div > div > ul > li > div > div.col.align-self-center > div:nth-child(3){
    margin-left: 1px;
}