#sidebar {
  background-color: #ecf0f1;
  padding-left: 2rem;
}
@media (max-width: 576px), (min-width: 576px) and (max-width: 768px) {
  #sidebar {
    display: none;
  }
}
#sidebar > div {
  margin-top: 2rem;
}
.sidebar-nav {
  list-style: none;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #333;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #ffffff;
  background: #95a5a6;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav h5 {
  font-weight: bold;
  font-size: 110%;
}
.location,
.condition,
.category,
.format,
.price {
  margin-top: 5%;
}
.radio {
  display: flex;
  flex-direction: column;
}
.auction-item {
  padding-top: 1rem;
  margin-top: 1rem;
  border: solid transparent;
  border-top-color: #ddd;
}
.auction-item a {
  color: inherit;
  text-decoration: none;
}
.auction-item p,
.auction-item h4 {
  margin-bottom: 0.5rem;
}
.auction-item .auction-image {
  width: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.auction-item .auction-text {
  margin-left: 3rem;
  width: 90%;
  padding-right: 2rem;
}
@media (max-width: 576px) {
  .auction-item a {
    flex-direction: column;
  }
  .auction-item .auction-text {
    margin-left: 0rem;
    padding-right: 0rem;
  }
  .auction-item .auction-image {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 80%;
  }
}
.auction-item:first-child {
  border: none;
}
.auction-item:last-child {
  margin-bottom: 7rem;
}
.priceResult {
  font-weight: bold;
}
ul {
  list-style-type: none;
}
@media (max-width: 576px) {
  #page-body-section > button {
    width: 100%;
  }
}
