/* md, lg, xl devices */
@media (min-width: 768px) {
  #login {
    width: 25rem;
  }
  #user_form {
    width: 30rem;
  }
}
#profile-avatar {
  max-height: 10em;
  margin-bottom: 0.5em;
}
h1 {
  text-align: center;
}
