.navbar-nav a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #0df1d1;

}

.active{
    font-weight: bold;
}

#closebtn{
    background-color: #464242;
}

.sendmsg{
    background-color: #18bc9c;
    color:  whitesmoke;
    border-color:  #464242;
}

#delete{
    border-color:  #464242;
    color:  whitesmoke;
}