#gradient {
	background-image: linear-gradient(to right, 
		var(--navbar-gradient-color1), 
		var(--navbar-gradient-color2), 
		var(--navbar-gradient-color3), 
		var(--navbar-gradient-color4), 
		var(--navbar-gradient-color5)
	);
    height: 10px;
}

nav.navbar{
    margin: 0 1vw;
}
 
@media only screen and (min-width: 992px) {
    nav.navbar{
        margin: 0 12vw;
    }
}

.navbar-container {
	background-color: var(--navbar-background)
}
