actionlib==1.11.13
aenum==2.2.3
angles==1.9.11
attrs==15.2.0
autobahn==0.10.3
base-local-planner==1.14.4
bhand-controller==0.1.2
bondpy==1.8.3
bzr==2.7.0
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
capabilities==0.2.0
catkin==0.7.18
catkin-pkg==0.4.14
catkin-pkg-modules==0.4.14
chardet==2.3.0
Click==7.0
configobj==5.0.6
controller-manager==0.13.3
controller-manager-msgs==0.13.3
create-driver==2.3.1
create-node==2.3.1
cryptography==1.2.3
cv-bridge==1.12.8
cycler==0.9.0
defusedxml==0.4.1
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dlib==19.18.0
docutils==0.12
dynamic-reconfigure==1.5.50
ecdsa==0.13.3
empy==3.3.2
enum34==1.1.2
face-recognition==1.2.3
face-recognition-models==0.3.0
funcsigs==1.0.2
futures==3.0.5
gazebo-plugins==2.5.19
gazebo-ros==2.5.19
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
httplib2==0.18.0
idna==2.0
image-geometry==1.12.8
imutils==0.5.3
interactive-markers==1.11.4
ipaddress==1.0.16
keyring==7.3
laser-geometry==1.6.4
launchpadlib==1.10.3
lazr.restfulclient==0.13.4
lazr.uri==1.0.3
lz4==0.7.0
matplotlib==1.5.1
mercurial==4.1.3
message-filters==1.12.14
mpi4py==1.3.1
msgpack-python==0.4.6
netifaces==0.10.4
nose==1.3.7
numpy==1.11.0
oauth==1.0.1
openni2-launch==0.4.2
PAM==0.4.2
paramiko==2.0.9
Pillow==8.3.2
pluginlib==1.11.3
pr2-power-board==1.1.7
psutil==5.6.6
py-trees==0.5.12
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycrypto==2.6.1
pydot==1.0.29
Pygments==2.1
pygobject==3.20.0
pygpgme==0.3
pygraphviz==1.3.1
PyOpenGL==3.0.2
pyOpenSSL==17.5.0
pyparsing==2.0.3
pyserial==3.0.1
Pyste==0.9.10
python-dateutil==2.4.2
python-interface==1.5.3
python-qt-binding==0.3.4
python-snappy==0.5
pytz==2014.10
PyYAML==5.1
qt-dotgraph==0.3.11
qt-gui==0.3.11
qt-gui-cpp==0.3.11
qt-gui-py-common==0.3.11
resource-retriever==1.12.5
rocon-app-manager==0.9.1
rocon-app-utilities==0.9.1
rocon-apps==0.9.1
rocon-console==0.3.2
rocon-ebnf==0.3.2
rocon-gateway==0.8.1
rocon-gateway-utils==0.8.1
rocon-hub==0.8.1
rocon-hub-client==0.8.1
rocon-interactions==0.3.2
rocon-master-info==0.3.2
rocon-python-comms==0.3.2
rocon-python-redis==0.3.2
rocon-python-utils==0.3.2
rocon-python-wifi==0.3.2
rocon-semantic-version==0.3.2
rocon-uri==0.3.2
roman==2.0.0
rosbag==1.12.14
rosboost-cfg==1.14.6
rosclean==1.14.6
roscreate==1.14.6
rosdep==0.18.0
rosdep-modules==0.18.0
rosdistro==0.7.5
rosdistro-modules==0.7.5
rosgraph==1.12.14
rosinstall==0.7.8
rosinstall-generator==0.1.18
roslaunch==1.12.14
roslib==1.14.6
roslint==0.11.0
roslz4==1.12.14
rosmake==1.14.6
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospkg==1.2.0
rospkg-modules==1.2.0
rospy==1.12.14
rospy-message-converter==0.5.0
rosserial-client==0.7.7
rosserial-python==0.7.7
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.6
roswtf==1.12.14
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-bhand==0.1.2
rqt-console==0.4.8
rqt-controller-manager==0.13.3
rqt-dep==0.4.9
rqt-drone-teleop==1.0.1
rqt-ez-publisher==0.5.0
rqt-graph==0.4.9
rqt-ground-robot-teleop==0.0.1
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.13
rqt-joint-trajectory-controller==0.13.5
rqt-joint-trajectory-plot==0.0.2
rqt-launch==0.4.8
rqt-launchtree==0.2.0
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-multiplot==0.0.10
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-pr2-dashboard==0.4.0
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-py-trees==0.3.1
rqt-reconfigure==0.5.1
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.10
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rqt-wrapper==0.1.4
rviz==1.12.17
SecretStorage==2.1.3
sensor-msgs==1.12.7
service-identity==16.0.0
simplejson==3.8.1
six==1.10.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
termcolor==1.1.0
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
topic-tools==1.12.14
trollius==2.0.1
Twisted==19.7.0
txaio==1.0.0
typing==3.7.4.1
unique-id==1.0.5
vcstools==0.1.42
wadllib==1.3.2
wstool==0.1.17
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xacro==1.11.3
zope.interface==4.1.3
