<!DOCTYPE html>
<html lang="en">
<title>Profile Anyone - Statistics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/statistics.css">
<script src="../static/js/nav.js" type='text/javascript'></script>
<style>
    body,h1,h2,h3,h4,h5,h6,li {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Statistics</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Statistics</a>
    </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding: 88px 16px;">
    <h2 class="w3-jumb"> Statistics of the dataset analysed </h2>
    <div class="grid-container">
        <div class="grid-item">
            <img src="../static/images/locationgraph.png" alt="Location Graph">
            <figcaption>The distribution of users in each continent.</figcaption>
        </div>
        <div class="grid-item">
            <img src="../static/images/tweetsyear.png" alt="Tweets per year">
            <figcaption>Tweets per year</figcaption>
        </div>
        <div class="grid-item">
            <img src="../static/images/numberoffollowers.png" alt="Number of followers">
            <figcaption>Number of followers of the users</figcaption>
        </div>
        <div class="grid-item">
            <img src="../static/images/numberoffriends.png" alt="Number of following">
            <figcaption>Number of people following the users</figcaption>
        </div>
    </div>

    <div class="grid-item">
        <img src="../static/images/commonwords.png" alt="Location Graph">
        <figcaption>Top 10 used words in the dataset</figcaption>
    </div>
</header>

</body>
</html>
