<!DOCTYPE html>
<html lang="en">
<title>Profiling {{ author }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6,li {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding: 10px;
    }

    .col-sm-3 p {
        text-align: justify;
        text-align-last: left;
    }
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="/statistics" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Statistics</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Statistics</a>
    </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
    <div class="grid-container">
        <div class="col-sm-3">
            <p>
            <h4> Profiling @{{ data['username'] }}</h4>
                <i class="fa fa-user w3-margin-right"></i> Gender: {{ data['gender'] }}
                <br />
                <i class="fa fa-location-arrow w3-margin-right"></i> Location: {{ data['location'] }}
                <br />
                <i class="fa fa-twitter w3-margin-right"></i> Number of Tweets: {{ data['tweets'] }}
                <br />
                <br />
                <br />
                <br />
                <i class="fa fa-list w3-margin-right"></i> Categories:
                <br />
                <br />
            <label>
                <select name="Topics">
                    <option value="">Left sided politics</option>
                    <option value="">Pop Music</option>
                    <option value="">Sports</option>
                    <option value="">Movies</option>
                </select>
            </label>
        </div>
        <div class="col-sm-3">
            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
        </div>
    </div>
</header>

<!-- Second Grid -->
<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        let x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>
