<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profiling {{ username }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/user.css">
    <script src="../static/js/nav.js" type='text/javascript'></script>
    <script src="../static/js/two.js" type='text/javascript'></script>
    <script src="../static/js/user.js" type='text/javascript'></script>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="/statistics" id="statistics" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Statistics</a>
        <a class="w3-bar-item w3-hide-small w3-padding-large" id="categories" >Categories: </a>
        <label>
            <select class="w3-bar-item w3-hide-small" id="topics" name="Topics" onchange="select()">
                {%for i in data%}
                <option id="topic_option" value="{{ i }}">{{ i }}</option>
                {%endfor%}
            </select>
        </label>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Statistics</a>
    </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center">
    <h2 class="w3-jumb"> Profiling @{{ username }}</h2>
        <div class="col-sm-3" id="stats">
             <!--<i class="fa fa-user w3-margin-right w3-xlarge"></i>
            <p class="w3-xlarge">Gender: </p>
            <i class="fa fa-location-arrow w3-margin-right w3-xlarge"></i>
            <p class="w3-xlarge">Location: </p>
            <i class="fa fa-twitter w3-margin-right w3-xlarge"></i>
            <p class="w3-xlarge">Number of Tweets: </p>-->
            <p style="display: none" id="dataset">{{ data }}</p>
        </div>
        <div class="col-sm-3 smaller-container">
            <div id="percentages">

            </div>
            <div id="percentages-display">
                <p id="positive"></p>
                <p id="neutral"></p>
                <p id="negative"></p>
            </div>
        </div>
</header>

<script>
    // Get the percentage element
    let elem = document.getElementById('percentages');
    let two = new Two({ width: 585, height: 400 }).appendTo(elem);

    // Get the topic selected in the dropdown
    let selected = document.getElementById("topics");
    let dataset_str = (document.getElementById("dataset").textContent).replace(/'/g,'"');
    let dataset = JSON.parse(dataset_str);
    let selected_topic = selected.options[selected.selectedIndex].value;

    // Get the percentages of the topic
    let pos_value = dataset[selected_topic].positive;
    let neu_value = dataset[selected_topic].neutral;
    let neg_value = dataset[selected_topic].negative;

    // Change the percentages text
    let positive = document.getElementById('positive');
    positive.innerText = pos_value + "%";
    let neutral = document.getElementById('neutral');
    neutral.innerText = neu_value  + "%";
    let negative = document.getElementById('negative');
    negative.innerText = neg_value  + "%";

    // Draw the rectangles
    let rect1 = two.makeRectangle(0, 0 - (neu_value+neg_value)*2, 150, pos_value*4);
    let rect2 = two.makeRectangle(-200, 0 - (pos_value+neg_value)*2, 150, neu_value*4);
    let rect3 = two.makeRectangle(-400, 0 - (pos_value+neu_value)*2, 150, neg_value*4);

    // Change the percentage text
    positive.innerText = pos_value + "%";
    neutral.innerText = neu_value  + "%";
    negative.innerText = neg_value  + "%";

    // Create the rectangles
    createRectangles(rect1, rect2, rect3, true)
</script>

</body>
</html>
