<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profiling {{ username }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/user.css">
    <script src="../static/js/nav.js" type='text/javascript'></script>
    <script src="../static/js/two.js" type='text/javascript'></script>
    <script src="../static/js/user.js" type='text/javascript'></script>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="/statistics" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Statistics</a>
        <a class="w3-bar-item w3-hide-small w3-padding-large" id="categories" >Categories: </a>
        <label>
            <select class="w3-bar-item w3-hide-small" id="topics" name="Topics" onchange="select()">
                {%for i in range(0, cat_len)%}
                <option value="{{ data['categories'][i]['percentage'] }}">{{ data['categories'][i]['name'] }}</option>
                {%endfor%}
            </select>
        </label>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Statistics</a>
    </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center">
        <div class="col-sm-3" id="stats">
            <p>
            <h4> Profiling @{{ data['username'] }}</h4>
                <i class="fa fa-user w3-margin-right"></i> Gender: {{ data['gender'] }}
                <br />
                <i class="fa fa-location-arrow w3-margin-right"></i> Location: {{ data['location'] }}
                <br />
                <i class="fa fa-twitter w3-margin-right"></i> Number of Tweets: {{ data['tweets'] }}
        </div>
        <div class="col-sm-3 smaller-container">
            <div id="percentages">

            </div>
            <div id="percentages-display">
                <p id="percentage1"></p>
                <p id="percentage2"></p>
            </div>
        </div>
</header>

<script>
    // Get the percentage element
    let elem = document.getElementById('percentages');
    let two = new Two({ width: 585, height: 400 }).appendTo(elem);

    // Get the option selected in the dropdown
    let selected = document.getElementById("topics");
    let selected_percentage = selected.options[selected.selectedIndex].value;

    let percentage1 = document.getElementById('percentage1');
    percentage1.innerText = selected_percentage + "%";
    let percentage2 = document.getElementById('percentage2');
    percentage2.innerText = (100 - selected_percentage)  + "%";

    let inverse = 100 - selected_percentage;

    let rect1 = two.makeRectangle(-100, 0 - inverse*2, 150, selected_percentage*4);
    let rect2 = two.makeRectangle(-300, 0 - selected_percentage*2, 150, inverse*4);

    // Change the percentage text
    percentage1.innerText = selected_percentage + "%";
    percentage2.innerText = (100 - selected_percentage)  + "%";
    createRectangles(rect1, rect2, true)
</script>

</body>
</html>
