*, *::after, *::before {
  box-sizing: border-box; }

#info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 1em 0;
}

#info a {
  text-decoration: none;
  color: black;
}

#info > a {
  padding: 0 1em;
  font-size: 1.5em;
  align-self: flex-end;
}

#info img {
  width: 100px;
}

#info h1 {
  font-size: 4em;
  font-family: 'Cherry Swash', cursive;
  margin: 0;
  flex-grow: 1;
}

.screen{
  margin: 0px auto;
  padding-top: 80px;
}

.form{
  width: 350px;
  height: 220px;
  background: #edeff1;
  margin: 0px auto;
  padding-top: 20px;
}

input[type="text"]{
  display: block;
  width: 309px;
  height: 35px;
  margin: 15px auto;
  background: #fff;
  border: 0px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}

.form a{
  text-align: center;
  font-family: Arial;
  color: gray;
  display: block;
  margin: 15px auto;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 12px;
}

input[type="submit"]{
  display: block;
  background: #19b6e9;
  width: 314px;
  padding: 12px;
  cursor: pointer;
  color: #fff;
  border: 0px;
  margin: auto;
  font-size: 17px;
  transition: all 0.3s ease;
}

.home{
  background-image: url(https://i.imgur.com/ZkA3bz3.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
}

#footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}