html, body {margin: 0; padding: 0; height: 100%; text-align: center;}
section {min-height: 100%;}
a{text-decoration: none;}
li{list-style-type:none;}

h1, h2, h3, a{font-family: 'Roboto', sans-serif; font-weight: 500; color: black; text-transform: uppercase;}
h2 {color: powderblue;}
h3{font-size: 40px; padding-top: 8%; margin-bottom: 5px;}
h4, p {font-family: 'Roboto Slab', serif; color: #494949;}

hr {width: 30px; height: 3px; background: #494949; border: 0; margin: 0 auto 40px auto;}
#logo, li, img .button {transition: all 300ms;}

/* HEADER *******/

header {
  width: 100%;
  height: 5%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
}

#info {
  width: 140px;
  float: left;
  margin: 10px 0 0 50px;
}

#info:hover {
  opacity:0.5;
}

#info img {
  max-width: 30%;
}

header nav {
  float: right;
  margin: 0 50px 0 0;
}

header nav ul li{
  float: left;
  margin-right: 25px;
  width: 10%;
}

header nav ul li a{
  font-size: 16px;
}

header nav ul li:hover{
  padding-top: 5px;
}

/* HOME ***********/

#home {
  background: url(../images/site/travels.png);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

#home h1 {
  margin: 60px auto 0 auto;
  font-size: 110px;
}

#home p {
  margin: 0 auto 0 auto;
  font-size: 25px;
}

#home img{
  margin: 200px auto 0 auto;
}

/* ABOUT **********/

#about{
  min-height: 50%;
}

#about h4{
  font-size: 25px;
}

#about p{
  width: 700px;
  margin: 0 auto 0 auto;
}

/* TEAM **********************/

#team {
  background-color: #f0f0f0;
  min-height: 70%;
}

#members {
  width: 900px;
  margin: 0 auto 0 auto;
}

#members ul {
  padding: 0;
}

#members ul li{
  width: 33%;
  display: inline-block;
}

#members img{
  height: 170px;
}

#members img:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#members #names p{
  display: inline;
  margin: auto 90px auto 90px;
}

@media only screen and (max-width: 500px) {
  #members ul li{
    width: 100%;
  }
}

/*FOOTER **************/

footer {
  width: 100%;
  height: 70px;
  background-color: #3f3f3f;
}

footer p{
  font-size: 12px;
  color: #f0f0f0;
  padding-top: 30px;
}


@media only screen and (max-width: 681px) {

  header{
    height: 35%;
  }

  #header nav ul li{
    width: 100%;
  }

  #home h1 {
    margin: 200px auto 0 auto;
  }

  #about p{
    width: 300px;
  }
}


