form {
  background-color: white;
  color: black;
  margin: 2em auto;
  width: 20em;
  padding: 1em;
}

label {
  padding: 1em;
}

label, input {
  display: block;
}

input {
  border: none;
  background-color: white;
  color: black;
  border-bottom: 1px solid black;
  margin-top: 1em;
  width: 100%;
  font-size: 0.9em;
}

input[type=submit] {
  width: auto;

  background-color: black;
  color: white;

  border: none;
  margin: 1em;
  padding: 1em;
  margin-left: auto;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #046dd5;
}

#register h1, #login h1 {
  text-align: center;
}

@media (max-width: 30em) {
  #register, #login {
    background-color: white;
  }
}

