html {
  background-color: #ddddff;
}

body {
  width: 800px;
  margin: 0px auto;
  font-family: times, serif;
  background-color: #669933;
}

h1, h2, h3 {
  font-family: verdana, sans-serif;
}

#header {
  background-color: #336699;
  color: #ffffff;
  padding: 20px;
  position: relative;
}

#header h2 {
  position: absolute;
  top: 0;  left: 0;
  margin: 0; padding: 0;

  text-align: center;

  background-color: #336699;
  padding: 10px 0;
  width: 100%;

  -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

#menu {
  background-color: #669933;
  float: right;
  width: 200px;
}

#menu a{
  color: #ffffff;
  text-decoration: none;
}

#menu li {
  list-style-type: none;
  text-align: center;
  padding: 20px;
}

#menu ul {
  width: 0px auto;
  padding: 0;
}

#content {
  padding: 0 10px;
  margin: 0;
  margin-right: 200px;
  background-color: #ffffff;
}

#content a {
  text-decoration: none;
}

#content h3 {
  font-size: 160%;
  margin: 0px 0;
  margin-bottom: 10px;
}

#content img {
  float: left;
  padding: 0 10px 10px 0;
}

#content .introduction {
  font-style: italic;
}

#content .news-item {
  border-bottom: 1px solid black;
}

#content ul {
  list-style-type: none;
  padding: 0;
  padding: 10px 0px;
  margin: 0px;
}

#content li {
  display: inline;
  border-bottom: 3px solid #996633;
  padding: 3px 10px;
}

#content li a {
  color: #333333;
  text-decoration: none;
}

#footer {
  padding: 0 10px;
  background-color: #ffffff;
}

#footer p {
  margin: 0;
}
