html {
  background-color: #ddddff;
}

body {
  width: 800px;
  margin: 0px auto;
  font-family: times, serif;
  background-color: #ffffff;
}

h1, h2, h3 {
  font-family: verdana, sans-serif;
}

#header {
  background-color: #666666;
  color: #ffffff;
  padding: 20px;
}

#menu {
  background-color: #330000;
}

#menu a{
  color: #ffffff;
  text-decoration: none;
}

#menu ul {
  list-style-type: none;
  padding: 0;
  padding: 10px 0px;
  margin: 0px;
}

#menu li {
  display: inline;
  margin: 10px;
  display: inline;
  border-right: 1px solid #ffffff;
  padding-right: 10px;
  margin-right: 0;
}

#menu li:last-child {
  border: none;
}

#content {
  padding: 0 10px;
}

#content a {
  text-decoration: none;
}

#content h3 {
  font-size: 160%;
  margin: 10px 0;
}

#content img {
  float: left;
  padding: 0 10px 10px 0;
}

#content .introduction {
  font-style: italic;
}

#content .news-item {
  border-bottom: 1px solid black;
}

#content ul {
  list-style-type: none;
  padding: 0;
  padding: 10px 0px;
  margin: 0px;
}

#content li {
  display: inline;
  background-color: #333333;
  padding: 3px 10px;
}

#content li a {
  color: #ffffff;
  text-decoration: none;
}

#footer {
  padding: 0 10px;
}
