body {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "yellow yellow"
    "blue orange"
    "blue red"
    "blue green"
}

#green {
  grid-area: green;
}

#yellow {
  grid-area: yellow;
}

#orange {
  grid-area: orange;
}

#red {
  grid-area: red;
}

#blue {
  grid-area: blue;
}

#yellow ul, #red ul {
  display: flex;
}

#red ul {
  flex-direction: row-reverse;
}

#yellow li, #red li {
  flex-grow: 1;
}

#yellow li:first-child {
  flex-grow: 3;
}
