body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "green green green"
    "yellow orange red"
    "yellow blue red";
}

#green {
  grid-area: green;
}

#yellow {
  grid-area: yellow;
}

#orange {
  grid-area: orange;
}

#red {
  grid-area: red;
}

#blue {
  grid-area: blue;
}
