@import "common/bootstrap-values";


#sidebar {
    background-color: #ecf0f1;
    @media @d-xs, @d-sm {
        display: none;
    }

}

.sidebar-nav {
    list-style: none;

    li {
        a {
            display: block;
            text-decoration: none;
            color: #333;
        }

        a:hover {
            text-decoration: none;
            color: #ffffff;
            background: #95a5a6;
        }

        a:active, a:focus {
            text-decoration: none;
        }
    }

    h5 {
        font-weight: bold;
        font-size: 110%;
    }

}

.location, .condition, .category, .format, .price {
    margin-top: 5%;
}



.auction-item  {
    padding-top: 1rem;
    margin-top: 1rem;
    border: solid transparent;
    border-top-color: #ddd;

    a {
        color: inherit;
        text-decoration: none;
    }

    p, h4 {
        margin-bottom: 0.5rem;
    }

    .auction-image {
        width: 10rem;
    }

    .auction-text {
        margin-left: 3rem;
        width: 100%;
        padding-right: 2rem;
    }
}

.priceResult{
    font-weight: bold;
}

.auction-item:first-child {
    border: none;
}

ul {
    list-style-type: none;
}


@media @d-xs {
    #page-body-section > button{
        width: 100%;
    }
}

