

#sidebar {
    background-color: #ecf0f1;
}

.sidebar-nav {
    list-style: none;
    li a {
        display: block;
        text-decoration: none;
        color: #333;
    }

    li a:hover {
        text-decoration: none;
        color: #ffffff;
        background: #95a5a6;
    }

    h5 {
        font-weight: bold;
        font-size: 110%;
    }
}



.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}



.location, .condition, .category, .format, .price {
    margin-top: 5%;
}

#main li{
    margin-top: 2%;
    border: solid transparent;
    border-top-color: #ddd;
}

ul {
    list-style-type: none;
}

#img{
    margin-left: 10%;
}

@media (max-width: 500px) {
    #page-body-section > button{
        width: 100%;
    }
}

.priceResult{
    font-weight: bold;
}